.header {
  padding-bottom: 8px;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  min-height: 72px;
}

@media screen and (max-width: 1200px) {
  .header-inner {
    gap: 5px;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 0;
  gap: 24px;
}

@media screen and (max-width: 1200px) {
  .header-nav {
    gap: 25px;
  }
}

.header-logo {
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #262525;
}

@media screen and (max-width: 1200px) {
  .header-logo {
    font-size: 14px;
    font-weight: 600;
  }
}

.header-logo-svg {
  overflow: visible;
  width: 28px;
  height: 28px;
}

@media screen and (max-width: 1200px) {
  .header-logo-svg {
    font-size: 9px;
    font-weight: 500;
    width: 20px;
    height: 20px;
  }
}

.header-nav-list {
  display: flex;
  gap: 24px;
  flex-grow: 1;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .header-nav-list {
    gap: 10px;
  }
}

@media screen and (max-width: 768px) {
  .header-nav-list {
    display: none;
  }
}

.header-nav-link {
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0;
  color: #262525;
}

@media screen and (max-width: 1200px) {
  .header-nav-link {
    font-size: 10px;
  }
}
.header-socials-link {
  fill: none;
  stroke: var(--c-primary);
  transition: stroke 0.2s;
}
.header-socials-link:hover {
  stroke: var(--c-brand);
}

.header-nav-link:hover {
  color: var(--c-brand);
}
@media screen and (max-width: 768px) {
  .header-button {
    display: none;
  }
}

.header-button-style {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0;
  text-align: center;
  background-color: #ff0066;
  color: #ffffff;
  opacity: 1;
  padding: 16px 24px;
  border-radius: 8px;
  border: 1px solid #ff0066;
  transition: all 0.4s ease;
}

@media screen and (max-width: 1200px) {
  .header-button-style {
    font-weight: 600;
    font-size: 12px;
    padding: 8px 12px;
  }
}
.header-button-style:hover {
  color: #ff0066;
  background-color: #ffffff;
  border: 1px solid #ff0066;
  transition: all 0.3s ease;
}

.header-menu-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.header-menu-btn {
  position: relative;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .header-menu-btn {
    display: none;
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  z-index: 998;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

.header-mobile-menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%) scale(0.9);
  width: 90%;
  max-width: 320px;
  background: white;
  border-radius: 16px;
  padding: 40px 20px;
  opacity: 0;
  transition: 0.3s ease;
  z-index: 999;
  pointer-events: none;
  text-align: center;
}

.header-mobile-menu.active {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: all;
}

.header-mobile-menu-link {
  text-decoration: none;
  line-height: 1.5;
  color: #262525;
  font-weight: 600;
  font-size: 18px;
}

.header-mobile-menu-link:hover {
  color: #ff0066;
}

.header-menu-close {
  position: absolute;
  top: 14px;
  right: 14px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
