.header {
  /* padding: 0 64px; */
  padding-bottom: 8px;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

@media screen and (max-width: 1200px) {
  .header-inner {
    gap: 5px;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 24px;
}

@media screen and (max-width: 1200px) {
  .header-nav {
    gap: 5px;
  }
}

/* .header-socials {
  display: flex;
  gap: 18px;
} */

.header-logo {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #262525;
}

@media screen and (max-width: 1200px) {
  .header-logo {
    font-size: 14px;
    font-weight: 600;
  }
}

.header-logo-svg {
  overflow: visible;
  width: 28px;
  height: 28px;
}

@media screen and (max-width: 1200px) {
  .header-logo-svg {
    font-size: 9px;
    font-weight: 500;
    width: 20px;
    height: 20px;
  }
}

.header-nav-list {
  display: flex;
  gap: 24px;
  flex-grow: 1;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .header-nav-list {
    gap: 10px;
  }
}

.header-nav-link {
  display: inline-block;
  padding: 24px 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0;
  color: #262525;
}

@media screen and (max-width: 1200px) {
  .header-nav-link {
    font-size: 10px;
  }
}
.header-socials-link {
  fill: none;
  stroke: var(--c-primary);
  transition: stroke 0.2s;
}
.header-socials-link:hover {
  stroke: var(--c-brand);
}

.header-nav-link:hover {
  color: var(--c-brand);
}

.header-button {
}

.header-button-style {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0;
  text-align: center;
  background-color: #ff0066;
  color: #ffffff;
  opacity: 1;
  padding: 16px 24px;
  border-radius: 8px;
  border: 1px solid #ff0066;
  transition: all 0.4s ease;
}

@media screen and (max-width: 1200px) {
  .header-button-style {
    font-weight: 600;
    font-size: 12px;
    padding: 8px 12px;
  }
}
.header-button-style:hover {
  color: #ff0066;
  background-color: #ffffff;
  border: 1px solid #ff0066;
  transition: all 0.3s ease;
}
