.workflow-section {
  padding-top: 50px;
}

.workflow-title {
  font-family: Archivo;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 16px;
}
.workflow-title-span {
  color: #ff0066;
}

.workflow-description {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 30px;
}

.workflow-img {
  margin: 0 auto;
  width: 1200px;
}

.workflow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.workflow-button-style {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0;
  text-align: center;
  background-color: #ff0066;
  color: #ffffff;
  opacity: 1;
  padding: 16px 32px;
  border-radius: 8px;
  border: 1px solid #ff0066;
  transition: all 0.3s ease;
}

.workflow-button-style:hover {
  color: #ff0066;
  background-color: #ffffff;
  border: 1px solid #ff0066;
  transition: all 0.3s ease;
}
