:root {
  --c-brnd: #2e2f42;
  --c-logo: #4d5ae5;
  --c-contact: #434455;
  --c-header-active: #404bbf;
  --c-text-light: #fff;
  --c-text-footer: #f4f4fd;
  --c-bg-thirt: #ffffff;
  --c-header: #e7e9fc;
  --c-fotter: #31d0aa;
  --c-logo-secondary: #8e8f99;
  --c-modal: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--c-contact);
  background-color: var(--c-text-light);
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
